.body{
 background-color:#f4a896 ;
 color :#157896
}



.strong{
  color:rgba(7, 75, 100, 0.712);
}


.hhh{
  color:rgba(7, 75, 100, 0.712);
  
}



.link{
  color:rgba(7, 75, 100, 0.712);
}


.Happy{
width: 350px ;
height: 275px ;
}



.sad{
  width:325px ;
  height:275px;
}